@page "/Students/getall"
@model WebStarterDBApp.Pages.Students.IndexModel
@{
}

<h2 class="text-center mb-4">Students</h2>
<a class="btn btn-primary btn-lg mb-4" href="/Students/Create">New Student</a>

<table class="mx-auto table table-dark text-center">
    <thead>
        <tr><th colspan="4">Coding Factory Students</th></tr>
        <tr>
            <th>Κωδικός</th>
            <th>Όνομα</th>
            <th>Επώνυμο</th>
            <th>Edit/Delete</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Students!.Count != 0) {
            @foreach (var student in Model.Students) {
                <tr>
                    <td>@student.Id</td>
                    <td>@student.Firstname</td>
                    <td>@student.Lastname</td>
                    <td>
                        <a class="btn btn-primary" href="/Students/@student.Id/Update">Edit</a>
                        <a class="btn btn-primary" href="javascript:void(0)" onclick="confirmDelete(@student.Id)">Delete</a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>

<div>
    @if (Model.ErrorObj is not null) {
        <p>@Model.ErrorObj.Message</p>
    }
</div>

<script src="~/js/student.js"></script>

